body {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
  position: relative;
}
/* 1. Popup */
.popup{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    background: rgb(0, 0, 0);
    padding: 10px 20px 60px 20px;
    border-radius: 20px;
}
.block_popup {
  position: fixed;
  top: -400px;
  left: 28%;
  width: 400px;
  height: 320px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  transition: top linear .6s;
  z-index: 100;
}
.block_popup.open {
    top: 100px;
}
.block_img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-image: url(../img/picture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn {
    position: absolute;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 10px;
    color: #fff;
    background-color: dodgerblue;
    box-shadow: 0 4px 0 0  rgb(9, 82, 155);
    border: none;
    outline: none;
    border-radius: 20px;
}
#btn-close {
    bottom: 20px;
    background-color: rgb(30, 144, 255);
    box-shadow: 0 4px 0 0  rgb(9, 82, 155);
}
#btn-close:active {
    bottom: 18px;
    box-shadow: 0 2px 0 0  rgb(9, 82, 155);
}
#btn-open {
    top: 50px;
    right: 25px;
}
#btn-open:active {
    top: 52px;
    box-shadow: 0 2px 0 0  rgb(9, 82, 155);
}
/* 2. Нарисовать стилями полукруг. https://prnt.sc/r40ebb */
.secondTest {
    width: 100%;
    height: 400px;
    background: rgb(230, 228, 228);
    border-radius: 20px;
    position: relative;
}
.secondTest-wrapper {
    position: absolute;
    top: 50px;
    right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}
.circle {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-radius: 0px 100px 100px 0px;
}

/* 6. Есть div, в нем другой div, у второго задан padding 50%, как будeт выглядеть контуры блоков схематически?  */
.div-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(230, 228, 228);
    border-radius: 20px;
}
.parent-div {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 300px;
    height: 250px;
    border: 3px solid red;
}
.child-div {
    padding: 50%;
    border: 4px solid green;
}

/* 8. Сверстать и написать javascript/jquery скрипт простого слайдера в котором слайды в виде картинок и 
    текста имеют ширину 100% экрана. В функционале слайдера только две кнопки движения слайдов вперед и назад вручную. 
    Цикличность не нужно делать, после отображения последнего слайда блокировка кнопки вперед, а при отображении 
    первого слайда блокировка кнопки назад. */
.slider-wrapper {
    width: 1076px;
    margin-bottom: 100px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.btn-slider-left,
.btn-slider-right {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 105px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .5);
    transition: background linear .2s; 
    z-index: 5;
}
.btn-slider-right {
    right: 0px;
}
.btn-slider-left:hover,
.btn-slider-right:hover {
    background: #c0301c;
    cursor: pointer;
}
.slider-item-wrapper {
    display: flex;
    left: 0;
    transition: all ease 1s;
}
.item-column {
    position: relative;
    margin-right: 8px;
}
.social-block {
    width: 263px;
    height: 250px;
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity linear .2s; 
}
.social-bar {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}
.social-bar a {
    text-decoration: none;
    display: flex;
}
.facebook-bar,
.twitter-bar,
.google-bar,
.linkedin-bar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background linear .2s; 
}
.facebook-bar:hover,
.twitter-bar:hover,
.google-bar:hover,
.linkedin-bar:hover {
     background: #c0301c;
     cursor: pointer;
}
.item-column:hover .social-block {
    opacity: 1;
}
.item-column h4 {
    text-align: center;
     margin: 15px 0;
    text-transform: uppercase;
    color: #606060;
}
.item-column p {
   font-family: 'Roboto Slab', serif;
    color: #606060;
    text-align: center;
    font-size: 14px;
}